<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="public/logo2x.png" width="145" height="48">
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <ul class="sidebar-nav">
        <li class="sidebar-nav-item active">
          <a href="http://oomphinc.github.io/developer-handbook">WordPress Standards</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="http://oomphinc.github.io/developer-handbook/frontend/">Frontend Standards</a>
        </li>
      </ul>



    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
